<!DOCTYPE html>
<html lang="en">

  <head>
    <title>News Articles</title>
  </head>

  <body>

    <h2>News Articles</h2>
    <h3>Recently Submitted:</h3>

    <ul>
      <% all_articles.each do |article| %>
        <li>Title: <a href="<%= article["url"] %>"><%= article["story"] %></a></li>
        <li>Description: <%= article["description"] %></li>
        <li>URL: <a href="<%= article["url"] %>"><%= article["url"] %></a></li>
      <% end %>
    </br>
    </ul>

    </br>
    <a href="/articles/new">Submit an article</a>

  </body>
</html>
